body {
  margin: 0px;
  width: 100vw;
  height: 100vh;
}

#root {
  height: 100%
}

.map {
  height: 100%;
}

.leaflet-tooltip {
  background-color: rgba(238, 238, 238, 0.918);
  border-color: rgba(0, 0, 0, 0);
  padding: 2px 2px 2px 2px !important;
}